*{
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
label{
  color: white;
  font-weight: 400;
  padding: 15px 5px;
  margin: 10px;
}
input{
  margin: 10px;
  padding: 10px 10px;
  color:white;
  border-radius: 10px;
}
.btn{
  color:white;
  background-color: red;
  border-radius: 6px;
  margin: 5px;
  padding: 10px;
}